
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
}

<h2>Adminstrator Log In</h2>

<div class="form-signin" role="form">
    <div class="form-group">
        <input type="text" class="form-control" id="userNameInput" placeholder="Username"/>
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="passInput" placeholder="Password"/>
    </div>
    <button type="submit" class="btn btn-lg btn-success">Sign In</button>
</div>