@using Kendo.Mvc.UI

<h3>@ViewBag.Title</h3>
@RenderPage("../Shared/_DashboardMenu.cshtml")
<div id="toolbar" class="row">
    <div class="col-md-8">
        <div class="form-inline" role="form">
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control" id="txtSearch" placeholder="item name or description">
                </div>
            </div>
            <input type="submit" id="btnSearch" value="Search" class="btn btn-primary" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        @(Html.Kendo().Grid<MVC_BathCompareSIte.DTO.CategoryDTO>()
              .Name("cate_grid")
              .Columns(col =>
              {
                  col.Bound(p => p.Name).Width(250);
                  col.Bound(p => p.Description).Width(250);
                  col.Bound(p => p.Parent).Width(250);
                  col.Command(cmd =>
                  {
                      cmd.Edit();
                      cmd.Destroy();
                  }).Width(160);
              })
              .ToolBar(toolbar => toolbar.Create())
              .Editable(editable => editable.Mode(GridEditMode.PopUp).TemplateName("PopupCategory"))
              .Pageable()
              .Sortable()
              .Scrollable()
              .DataSource(ds => ds
                  .Ajax()
                  .PageSize(10)
                  .Events(events => events.Error("error_handler"))
                  .Model(model => model.Id(p => p.Id))
                  .Create(create => create.Action("AddCategory","Admin"))
                  .Read(read => read.Action("SearchCategories","Admin"))
                  .Update(update => update.Action("UpdateCategory","Admin"))
                  .Destroy(delete => delete.Action("DeleteCategory","Admin"))
              )
              )
    </div>
</div>

<!--Scripts-->
<script type="text/javascript">
    function error_handler(e) {
        if (e.errors) {
            var message = "Errors:\n";
            $.each(e.errors, function (key, value) {
                if ('errors' in value) {
                    $.each(value.errors, function () {
                        message += this + "\n";
                    });
                }
            });
            alert(message);
        }
    }

</script>
